# format options

--swiftversion 5.7
--indent 4
--trimwhitespace always
--self remove
--ranges spaced
--commas always
--emptybraces linebreak
--decimalgrouping ignore
--patternlet inline
--disable redundantReturn,unusedArguments

# rules

--enable isEmpty
